// ReactModal Overrides
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.site-dialog {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: rgba($color-black-3, 0.6);

    grid-template-columns: 20px 1fr 20px;

    @include mq($from: tablet) {
      grid-template-columns: 40px 1fr 40px;
    }

    @include mq($from: desktop) {
      grid-template-columns: 60px 1fr 60px;
    }
  }

  &__content {
    grid-column: 2 / span 1;
    grid-row-gap: 0;
    align-content: flex-start;
    background-color: $color-black;
    border-radius: 5px;
    margin: 20px 0;
    height: 100vh;
    width: 100%;
  }

  &__cap {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    background-color: $color-accent;
    padding: 20px 0;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 50px;
    align-content: center;
    box-shadow: 0px 4px 11px -3px rgba(0, 0, 0, 0.75);
    z-index: 999;

    @include mq($from: tablet) {
      grid-column: 1 / span 12;
    }

    h3,
    .icon-cross {
      margin: 0;
      color: $color-white;
    }

    h3 {
      grid-column: 1 / span 5;
      margin-left: 20px;

      @include mq($from: tablet) {
        grid-column: 1 / span 11;
      }
    }

    button {
      grid-column: 6 / span 1;
      border: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }

      @include mq($from: tablet) {
        grid-column: 12 / span 1;
      }
    }
  }

  &__inner {
    grid-column: 1 / span 6;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    color: $color-white;

    @include mq($from: tablet) {
      grid-column: 1 / span 12;
    }
  }

  &__year,
  &__tech,
  &__position,
  &__long {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;

    strong {
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: $color-primary;
    }

    a:hover {
      color: $color-white;
    }
  }
}
