.site-footer {
  padding: 40px 0;
  text-align: center;
  color: $color-secondary;
  border-top: 3px solid $color-primary;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;

  @include mq($from: tablet) {
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    margin-top: 100px;
  }

  &__social-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;

    @include mq($from: tablet) {
      grid-column: 1 / span 6;
      text-align: left;
    }
  }

  &__copy {
    font-size: 12px;
    grid-row: 2 / span 1;
    grid-column: 2 / span 4;

    @include mq($from: tablet) {
      grid-column: 7 / span 6;
      grid-row: 1 / span 1;
      text-align: right;
    }
  }
}
