// COLORS
$colors: (
  blue: (
    base: #77abb7,
    pale: #476d7c,
    primary: #254b62,
    dark: #1d3e53
  ),
  white: (
    base: #ffffff,
    dark: #fafafa
  ),
  black: (
    base: #000000,
    dark: #1c1b20
  )
);
